

.barra-superiror .menu{
    float: left;
    padding: 5px 20px;
    border-left: solid 1px;
    cursor: pointer;   
}

.barra-superiror{
   width: 100%;
   height: 70px;
}

.rodape{
    display: inline-block;
}
.conteudo-home img{
    margin: auto;
}